#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define SLACK_WEBHOOK "/services/xxx/xxx/xxx"

#define NETWORK_IP 10,10,10,200
#define NETWORK_DNS 8,8,8,8
#define NETWORK_GATEWAY 10,10,10,1
#define NETWORK_SUBNET 255,255,255,0
